// Для импорта в диспетчер подключений: @import './src/blocks/logo/logo.less';
@import "../../sass/variables";
// только для удобства обращения к переменным
@import "../../sass/mixins/mixins"; // только для удобства обращения к переменным

.logo {
  position: relative;

  width: 15.3rem;
  height: 6.3rem;
  margin: 1rem 0;

  &::after {
    opacity: 0;
  }

  &__img {
    position: absolute;

    width: 15.3rem;
    height: 6.3rem;
    margin-left: -.7rem;

    fill: $white;
  }
}
