.slider {
  &__active {
    position: relative;

    overflow: hidden;

    text-align: center;
  }

  &__active &__slides {
    position: relative;
    overflow: hidden; /* clearfix */

    touch-action: pan-y;
  }

  &__active &__slides > * {
    float: left;

    margin: 0;
  }

  &__active &__slides a:active,
  &__active &__slides a:active img {
    outline: none;
  }

  &__active,
  &__active &__dots,
  &__active &__slides,
  &__active &__slides > * {
    transform: translate3d(0, 0, 0);

    backface-visibility: hidden;
  }

  &__mouse &__slides {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
    user-select: none;
  }

  &__mouse &__drag &__slides * {
    cursor: move;
  }

  &__figure-1 {
    background-image: url("/img/slider1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    min-height: 584px;
    @media(min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url("/img/slider1@2x.png");
    }
    @media(min-resolution: 288dpi),
    (min-resolution: 3dppx) {
      background-image: url("/img/slider1@3x.png");
    }
  }

  &__figure-2 {
    background-image: url("/img/slider2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    min-height: 584px;
    @media(min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url("/img/slider2@2x.png");
    }
    @media(min-resolution: 288dpi),
    (min-resolution: 3dppx) {
      background-image: url("/img/slider2@3x.png");
    }
  }

  &__figure-3 {
    background-image: url("/img/slider3.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    min-height: 584px;
    @media(min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url("/img/slider3@2x.png");
    }
    @media(min-resolution: 288dpi),
    (min-resolution: 3dppx) {
      background-image: url("/img/slider3@3x.png");
    }
  }

  /* dots */
  &__dots {
    position: absolute;
    top: 473px;

    display: flex;

    width: 9rem;
    //height: 4rem;
    margin: 0;
    padding: 0;

    list-style-type: none;

    align-items: center;
    justify-content: space-between;
  }

  &__dots > li {
    display: flex;

    width: 2.5rem;
    height: 2.5rem;

    cursor: pointer;

    border: 2px solid #ffffff;
    border-radius: 50%;

    align-items: center;
    justify-content: center;
  }

  &__active-dot,
  &__dots > li:active {
    background: #ffffff;
  }

  &__dots > li &__mouse-clicked,
  &__dots > li:active,
  &__dots > li:focus {
    outline: 0;
  }

  &__dots > li > span {
    width: 100%;
    height: 100%;

    border-radius: 50%;
    background: transparent;
  }
  &__dots > li > span:hover {
    opacity: .5;
    background: #ffffff;
  }

  &__title {
    position: absolute;
    top: 205px;
    right: 0;
    bottom: 0;
    left: 0;

    width: 75rem;
    height: 16rem;
    margin: auto;

    color: #fcefd0;

    font-family: "Roboto Black", sans-serif;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1;
  }
}
