// Для импорта в диспетчер подключений: @import './src/blocks/page-header/page-header.less';
@import "../../sass/variables";
// только для удобства обращения к переменным
@import "../../sass/mixins/mixins";

.page-header {
  position: relative;

  display: flex;

  margin-right: $grid-gutter-width/ -2;
  margin-left: $grid-gutter-width/ -2;

  align-items: center;
}
