.entrance {
  &__wrapper {
    position: relative;
    z-index: 5;

    margin-right: 10px;
  }

  &__wrapper:hover &__form {
    display: block;

    //opacity: 1;
  }

  &__form {
    position: absolute;
    top: 32px;
    right: 0;
    left: -49px;

    display: none;
    clear: both;

    width: 275px;
    min-height: 175px;
    padding: 15px 15px;
    //transition: opacity $transition-time ease;
    //opacity: 0;

    border-radius: 5px;
    background: #f8f7f4;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);

    @media (min-width: $screen-md) {
      right: 0;
      left: auto;
    }
  }

  &__input {
    min-height: 40px;
    margin-bottom: 10px;
    padding: 0 15px;

    color: $black;
    border: 1px solid #b4b4b4;
    border-radius: 5px;

    font-size: 14px;
    line-height: 24px;
  }

  &__link-wrapper {
    float: right;

    margin-top: 15px;
  }

  &__link {
    display: block;

    text-decoration: underline;

    color: $black;

    font-size: 13px;
    line-height: 1.84;

    text-decoration-color: #3d8b3d;
  }
}
