@import "../../sass/mixins/mixins";

.btn {
  @include btn();
  @include btn-color(#ffffff, #f17d65, transparent);
  //@include btn-size();

  border: 0;

  &--main {
    @include btn-color(#ffffff, $color-main, $color-main);
  }

  &--danger {
    @include btn-color(#ffffff, $color-danger, $color-danger);
  }

  &--success {
    @include btn-color(#ffffff, $color-success, $color-success);
  }

  &--lg {
    @include btn-size(lg);
  }

  &--sm {
    @include btn-size(sm);
  }

  &--search {
    position: relative;

    width: 32px;
    height: 32px;
    padding: 0;

    transition: all $transition-time;

    border: 0;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .3);
    background-image: none;
    box-shadow: none;

    font-weight: 500;
  }

  &--search:hover,
  &--entrance:hover,
  &--cart:hover,
  &--search:focus,
  &--entrance:focus,
  &--cart:focus,
  &--search:active,
  &--entrance:active,
  &--cart:active {
    color: $black;
    background-color: #f8f7f4;
    background-image: none;
  }

  &--search:hover &__img,
  &--entrance:hover &__img,
  &--cart:hover &__img,
  &--search:focus &__img,
  &--entrance:focus &__img,
  &--cart:focus &__img,
  &--search:active &__img,
  &--entrance:active &__img,
  &--cart:active &__img {
    background-image: none;

    fill: $black;
  }

  &__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 17px;
    height: 17px;
    margin: auto;

    fill: $white;
    fill-rule: evenodd;
  }

  &__img-wrapper {
    position: relative;

    display: inline-block;

    width: 17px;
    height: 17px;
    margin-right: 5px;
  }

  &__img--search {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: auto;
  }

  &--entrance {
    width: 92px;
    height: 32px;
    padding: 0;

    transition: all $transition-time;

    background-color: rgba(255, 255, 255, .3);
    background-image: none;
    box-shadow: none;

    font-weight: 500;
  }
  &--entrance-form {
    float: left;

    margin-top: 15px;
    padding: 10px 33px;

    font-size: 15px;
    line-height: 1.6;
  }

  &--cart {
    width: 117px;
    height: 32px;
    padding: 0;

    transition: all $transition-time;

    background-color: rgba(255, 255, 255, .3);
    background-image: none;
    box-shadow: none;

    font-weight: 500;
  }

  &__cart-goods {
    display: none;
  }

  &--cart:hover &__cart-empty,
  &--cart:active &__cart-empty,
  &--cart:focus &__cart-empty {
    display: none;
  }
  &--cart:hover &__cart-goods,
  &--cart:active &__cart-goods,
  &--cart:focus &__cart-goods {
    display: inline;
  }

  &--cart-form {
    float: right;

    padding: 10px 25px;

    font-size: 15px;
    line-height: 1.6;
  }

  &--slider {
    margin-top: 451px;

    font-size: 32px;
    font-weight: 700;
    line-height: 1.25;
  }

  &--banner {
    //float: right;
    margin-left: auto;
  }

  &--product {
    display: none;

    width: 100%;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;

    transition: all $transition-time;

    opacity: 0;
  }

  &--newsletter {
    margin-left: auto;
  }

  &--map {
    width: 100%;
  }

  &--feedback {
    margin-left: auto;
  }

  &--block {
    width: 100%;

    text-align: center;

    justify-content: center;

    & + & {
      margin-top: ($line-height / 2);
    }
  }
}
