.product {
  @include col(lg, 1);

  position: relative;

  padding-bottom: 15px;

  &:hover {
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    background-color: rgba(255,255,255, .3);
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
  }

  &:hover .btn--product {
    display: flex;
    opacity: 1;
  }

  &__img {
    position: absolute;
    top: 15px;
    right: 0;
    left: 0;

    margin: auto;

    @media (min-width: $screen-xl) {
      width: 267px;
      height: 267px;
    }
  }

  &__price {
    position: absolute;
    z-index: 3;
    top: 140px;
    left: 12px;

    display: flex;
    //margin-top: 42%;

    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;

    align-items: baseline;

    @media (min-width: $screen-xl) {
      top: 182px;
      left: 32px;
    }
  }

  &__p-img {
    width: 3.2rem;
    height: 3.7rem;

    align-self: center;
    fill: #ffffff;
  }

  &__weight {
    font-size: 2.6rem;
  }

  &__desc {
    margin-top: 230px;
    margin-bottom: 0;

    text-align: center;

    font-weight: 500;

    @media (min-width: $screen-xl) {
      margin-top: 297px;
    }
  }
}
