.product {
    @include col(lg, 1);

    position: relative;

  &__img {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;

    margin: auto;
    @media (min-width: $screen-xl) {
      width: 267px;
      height: 267px;
    }
  }

  &__price {
    display: flex;

    margin-top: 42%;

    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;

    align-items: baseline;
  }

  &__p-img {
    width: 3.2rem;
    height: 3.7rem;

    align-self: center;
    fill: #ffffff;
  }

  &__weight {
    font-size: 2.6rem;
  }

  &__desc {
    margin-top: 30px;
    margin-bottom: 0;

    text-align: center;

    font-weight: 500;
    @media (min-width: $screen-xl) {
      margin-top: 70px;
    }
  }
}