.map {
  position: relative;

  min-height: 43rem;
  margin-top: 40px;
  margin-right: -31px;
  margin-left: -32px;

  background-image: url("/img/bg-map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  //display: flex;
  //justify-content: center;
  //align-items: center;

  &__address {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 12px;
    bottom: 0;

    display: flex;
    flex-direction: column;

    width: 30rem;
    height: 30.5rem;
    margin: auto;
    padding: 30px 25px;

    color: $black;
    border-radius: $border-radius;
    background-color: #fefefe;

    justify-content: space-between;
  }

  & address {
    display: flex;
    flex-direction: column;

    min-height: 17.5rem;
    margin: 0;

    justify-content: space-between;
  }

  &__regular-text {
    font-size: 1.4rem;
    line-height: 1.428;
  }

  &__bold-text {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.333;
  }
  &__yandex-placemark {
    width: 218px;
    height: 142px;
    background-image: url("/img/map-pin.png");
  }
}
