.glow {
  position: absolute;
  height: 88.1rem;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
  &--slide-1-js {
    background-image: url("/img/glow1.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    @media(min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url("/img/glow1@2x.png");
    }
    @media(min-resolution: 288dpi),
    (min-resolution: 3dppx) {
      background-image: url("/img/glow1@3x.png");
    }
  }

  &--slide-2-js {
    background-image: url("/img/glow2.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    @media(min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url("/img/glow2@2x.png");
    }
    @media(min-resolution: 288dpi),
    (min-resolution: 3dppx) {
      background-image: url("/img/glow2@3x.png");
    }
  }

  &--slide-3-js {
    background-image: url("/img/glow3.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    @media(min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url("/img/glow3@2x.png");
    }
    @media(min-resolution: 288dpi),
    (min-resolution: 3dppx) {
      background-image: url("/img/glow3@3x.png");
    }
  }
}