@import "../../sass/mixins/mixins";
@import "../../sass/variables";

.page-nav {
  @include col(xs, 12, 12, 0);
  @include col(md, 9, 12, 0);
  @include col(lg, 6, 12, 0);

  //@media (min-width: $screen-xs) {
  display: flex;

  font-size: 16px;

  justify-content: flex-start;
  //width: 100%;
  //}

  @media (min-width: $screen-lg) {
    width: auto;
  }

  &__list {
    display: flex;

    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 15px;
    text-align: center;
    transition: all $transition-time;

    @media (min-width: $screen-md) {
      flex-direction: row;
      margin-bottom: 0;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  &__item {
    cursor: pointer;
  }

  &__item:last-child {

    @media (min-width: $screen-md) {
      margin-right: auto;
    }

    //@media (min-width: $screen-lg) {
    //  margin-right: 0;
    //}
  }

  &__link {
    display: block;

    min-height: 37px;
    padding: 10px 15px;

    text-decoration: none;

    font-weight: 700;
  }

  &__link::after {
    display: block;

    width: 100%;
    height: 1px;

    content: "";

    background-color: rgba(255, 255, 255, .3);
  }

  &__link:hover,
  &__link:active {
    color: #ec593c;
  }

  &__link:hover::after,
  &__link:active::after {
    display: block;

    width: 100%;
    height: 1px;

    content: "";

    background-color: $color-hover;
  }

  &__link:hover {
    color: $black;
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border-radius: $border-radius;
    background-color: $white;

    font-weight: 700;
  }

  &__link:hover::after,
  &__link:focus::after,
  &__link:active::after {
    opacity: 0;
  }

  &__link:focus {
    text-decoration: none;

    color: $white;
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border-radius: $border-radius;
    background-color: #d07058;

    font-weight: 700;
  }

  &__link:active {
    text-decoration: none;

    color: $black;
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border-radius: $border-radius;
    background-color: $white;
    box-shadow: inset 0 2px 1px 0 rgba(105, 105, 105, 1);

    font-weight: 700;
  }

  &__list-lvl2 {
    position: absolute;
    z-index: 5;
    top: 43px;
    left: -5px;

    display: none;

    min-width: 158px;
    margin: 0;
    padding: 0;

    list-style: none;

    transition: opacity $transition-time ease;

    opacity: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: $white;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
  }

  &__link--dropdown-trigger {
    position: relative;
  }

  &__link--dropdown-trigger:focus + &__list-lvl2 {
    display: flex;
    flex-direction: column;

    opacity: 1;

    flex-wrap: nowrap;
  }

  &__item--dropdown {
    position: relative;
  }

  &__item--dropdown:hover > &__list-lvl2 {
    display: flex;
    flex-direction: column;

    opacity: 1;

    flex-wrap: nowrap;
  }

  &__link-lvl2 {
    display: block;

    padding: 5px 20px;

    cursor: pointer;
    text-decoration: none;

    color: $black;

    font-size: 14px;
    font-weight: 400;
  }

  &__link-lvl2::after {
    opacity: 0;
  }

  &__link-lvl2--bold {
    font-weight: 700;
  }

  &__item-lvl2 {
    min-height: 32px;
  }

  &__item-lvl2:first-child::after {
    position: absolute;
    top: $line-height+1;
    right: 0;
    left: 0;

    display: block;

    width: 88%;
    height: 1px;
    margin: auto;

    content: "";

    background-color: $black;
  }

  &__link-lvl2:hover {
    color: $black;
    background-color: $color-hover;
  }

  &__link-lvl2:focus {
    color: $white;
    background-color: $color-focus;
  }

  &__link-lvl2:active {
    color: $black;
    background-color: $color-active;
  }

  &__link-lvl2:active::after,
  &__link-lvl2:focus::after {
    display: none;
  }

  &__collapse {
    @include hidden-up(md);

    position: absolute;
    top: 15.5px;
    right: 10px;
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    justify-content: space-around;
    align-items: center;
    width: 32px;
    height: 32px;

    transition: all $transition-time;

    border: 0;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .3);
    background-image: none;
    box-shadow: none;

    font-weight: 500;
  }

  &__collapse:focus {
    outline: 0;
  }

  &__row {
    display: block;

    width: 15px;
    border-radius: 5px;
    height: 4px;

    background-color: #fff;
    margin-top: auto;
    margin-bottom: auto;
  }

  &__list--close-js {
    opacity: 0;
    z-index: -5;
    height: 0;

    @media (min-width: $screen-md) {
      z-index: 1;
      opacity: 1;
      height: auto;
    }
  }

  &--close-js {
    height: 0;

    @media (min-width: $screen-md) {
      height: auto;
    }
  }

}
