@import "../../sass/mixins/mixins";
@import "../../sass/variables";

.page-nav {
  margin-left: 15px;

  &__list {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;

    list-style: none;

    @media (max-width: 767px) {
    }

    @media (min-width: $screen-lg) {
      flex-direction: row;

      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  &__item {
    cursor: pointer;
  }

  &__link {
    display: block;

    min-height: $line-height + pxToRem(15px);
    padding: 1rem 15px;

    font-weight: 700;
  }

  &__link::after {
    display: block;

    width: 100%;
    height: 1px;

    content: "";

    background-color: #c5d6cd;
  }

  &__link:hover {
    color: $black;
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
    background-color: $white;

    font-weight: 700;
  }

  &__link:hover::after
  ,
  &__link:focus::after
  ,
  &__link:active::after {
    display: none;
  }

  &__link:focus {
    text-decoration: none;

    color: $white;
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
    background-color: #d07058;

    font-weight: 700;
  }

  &__link:active {
    text-decoration: none;

    color: $black;
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
    background-color: $white;

    font-weight: 700;
  }

  &__list-lvl2 {
    position: absolute;
    top: 3.5rem;
    left: -5px;

    display: none;

    min-width: 15.8rem;
    margin: 0;
    padding: 0;

    list-style: none;

    transition: opacity .5s ease;

    opacity: 0;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    background-color: $white;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
  }

  &__link--dropdown-trigger {
    position: relative;
  }

  &__link--dropdown-trigger:focus + &__list-lvl2 {
    display: flex;
    flex-direction: column;

    opacity: 1;

    flex-wrap: nowrap;
  }

  &__item--dropdown {
    position: relative;
  }

  &__item--dropdown:hover > &__list-lvl2 {
    display: flex;
    flex-direction: column;

    opacity: 1;

    flex-wrap: nowrap;
  }

  &__link-lvl2 {
    display: block;

    padding: .5rem 20px;

    cursor: pointer;

    color: $black;

    font-size: 1.4rem;
  }

  &__item-lvl2:first-child {
    min-height: 32px;

    font-weight: 700;
    //position: relative;
  }

  &__item-lvl2:first-child::after {
    position: absolute;
    top: $line-height+1;
    right: 0;
    left: 0;

    display: block;

    width: 88%;
    height: 1px;
    margin: auto;

    content: "";

    background-color: $black;
  }

  &__link-lvl2:hover {
    background-color: $color-hover;
  }

  &__link-lvl2:focus {
    color: $white;
    background-color: $color-focus;
  }

  &__link-lvl2:active {
    background-color: $color-active;
  }

  &__collapse {
    @include hidden-up(md);

    position: absolute;
    top: 5px;
    right: 5px;

    display: flex;
    flex-direction: column;

    width: 23px;
    height: 23px;
    padding: 0;

    border: 0;
    background-color: transparent;

    justify-content: space-around;
  }

  &__collapse:focus {
    outline: 0;
  }

  &__row {
    display: block;

    width: 23px;
    height: 4px;

    background-color: $black;
  }

  &__list--close-js {
    display: none;
    @media (min-width: $screen-md) {
      display: flex;
    }
  }
}
